<template>
    <VerticalLayout>
        <div class="container">
            <el-form
                :model="formData" :rules="formRules" ref="form"
                label-position="top" @submit.prevent="onSubmit"
            >
                <VerticalLayout>
                    <el-form-item label="Title" prop="title">
                        <el-input v-model="formData.title" @keyup.enter="onSubmit" @keyup="titleChanged"></el-input>
                    </el-form-item>
                    <el-form-item label="Slug" prop="slug">
                        <el-input v-model="formData.slug" @keyup.enter="onSubmit"></el-input>
                    </el-form-item>

                    <el-form-item label="Chat Content" prop="chatContent">
                        <VerticalLayout style="width: 100%;">
                            <div class="content-control">
                                <el-button size="small" @click="onInsertName">Insert Operator Name</el-button>
                                <el-button size="small" @click="onInsertNumber">Insert Operator Number</el-button>
                                <el-button style="margin-left: 5px" size="small" @click="onBold">B</el-button>
                                <el-button style="margin-left: 5px" size="small" @click="onItalic">I</el-button>
                                <el-button style="margin-left: 5px" size="small" @click="onStrikeThrough"><s>S</s></el-button>
                            </div>
                            <el-input type="textarea"
                                ref="contentInputRef" spellcheck="false"
                                rows="5" v-model="formData.chatContent">
                            </el-input>
                        </VerticalLayout>
                    </el-form-item>

                    <el-form-item label="Operator" prop="operators">
                        <HorizontalLayout v-for="(op, i) in formData.operators" :key="op.id" style="margin-top: 5px">
                            <el-select
                                v-model="op.id"
                                :filterable="true"
                                placeholder="Select Operator"
                            >
                                <el-option
                                    v-for="item in filteredOperators[i]"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>

                            <el-input
                                type="number" v-model="op.priority"
                                style="margin-left: 10px; width: 100px"
                                :min="1"
                            >
                            </el-input>

                            <el-button
                                icon="el-icon-delete" type="danger" @click="deleteOperator(i)"
                                v-if="i > 0" style="margin-left: 5px"
                            >
                            </el-button>
                        </HorizontalLayout>

                        <el-button style="margin-top: 10px" type="primary" @click="addOperator">Add Operator</el-button>
                    </el-form-item>

                    <h3>Facebook Pixel</h3>

                    <HorizontalLayout>
                        <el-form-item label="Pixel Id" style="flex: 1">
                            <el-input v-model="formData.pixelId" @keyup.enter="onSubmit"></el-input>
                        </el-form-item>

                        <el-form-item label="Pixel Event" style="flex: 1; margin-left: 10px">
                            <el-select
                                v-model="formData.pixelEvent"
                                :filterable="true"
                                placeholder="Select Pixel Event"
                                style="width: 100%;"
                            >
                                <el-option
                                    v-for="item in ['', 'ViewContent', 'AddToCart', 'AddToWishlist', 'InitiateCheckout', 'AddPaymentInfo', 'Purchase', 'Lead', 'CompleteRegistration', 'Custom']"
                                    :key="item"
                                    :label="item ? item : '-- Select Pixel Event --'"
                                    :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </HorizontalLayout>

                    <HorizontalLayout v-if="formData.pixelEvent === 'Purchase'">
                        <el-form-item label="Currency" style="flex: 1">
                            <el-input v-model="formData.pixelCurrency" @keyup.enter="onSubmit"></el-input>
                        </el-form-item>

                        <el-form-item label="Amount" style="flex: 1; margin-left: 10px">
                            <el-input v-model="formData.pixelAmount" @keyup.enter="onSubmit"></el-input>
                        </el-form-item>
                    </HorizontalLayout>

                    <h3>Google Tag Manager</h3>

                    <el-form-item label="Tag Manager Id">
                        <el-input v-model="formData.gtmId" @keyup.enter="onSubmit"></el-input>
                    </el-form-item>

                    <el-form-item label="Loading Time (0 = tanpa loading)">
                        <el-select
                            v-model="formData.loading"
                            :filterable="true"
                            placeholder="Select Loading Time (second)"
                            :default-first-option="true"
                        >
                            <el-option
                                v-for="item in [0, 1, 2, 3, 4, 5]"
                                :key="item"
                                :label="item + ' detik'"
                                :value="item">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Status" prop="status">
                        <el-radio-group v-model="formData.status">
                            <el-radio label="Published" model-value="Published"></el-radio>
                            <el-radio label="Draft" model-value="Draft"></el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <HorizontalLayout style="margin-top: 10px; align-items: end">
                        <router-link to="/link"><el-button type="warning">Batal</el-button></router-link>
                        <el-button type="primary" @click="onSubmit" style="margin-left: 10px">Kirim</el-button>
                    </HorizontalLayout>
                </VerticalLayout>
            </el-form>
        </div>
    </VerticalLayout>
</template>

<script lang="ts">
    import {defineComponent, reactive, ref, onMounted, computed, nextTick} from 'vue'
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import {ElForm} from "element-plus";
    import OperatorModel from "@/models/OperatorModel";
    import {OperatorPriority} from "@/models/LinkModel";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import OperatorApi from "@/api/OperatorApi";
    import {useSwal} from "@/customHooks/useSwal";
    import LinkApi from "@/api/LinkApi";
    import {useRoute, useRouter} from "vue-router";

    export default defineComponent({
        name: "InputLinkPage",
        components: {HorizontalLayout, VerticalLayout},

        setup() {
            const swal = useSwal()
            const router = useRouter()
            const route = useRoute()

            const linkId = route.params.id as string | undefined

            const operators = ref<Array<OperatorModel>>([])
            const contentInputRef = ref<HTMLTextAreaElement | null>(null)

            const getData = async () => {
                operators.value = await OperatorApi.getAll()

                if (linkId) {
                    const link = await LinkApi.getById(linkId)

                    formData.title = link.title
                    formData.slug = link.slug
                    formData.operators = link.operators
                    formData.chatContent = link.chatContent
                    formData.status = link.status
                    formData.pixelId = link.pixelId
                    formData.pixelEvent = link.pixelEvent
                    formData.gtmId = link.gtmId
                    formData.loading = link.loading

                    const pixelEventData = link.pixelEventData ? JSON.parse(link.pixelEventData) : null

                    if (pixelEventData) {
                        formData.pixelCurrency = pixelEventData.currency
                        formData.pixelAmount = pixelEventData.amount
                    }
                    else {
                        formData.pixelCurrency = ''
                        formData.pixelAmount = ''
                    }
                }
            }

            const form = ref<typeof ElForm | null>(null)
            const formData = reactive({
                title: '',
                slug: '',
                operators: [{id: '', name: '', priority: 1}] as Array<OperatorPriority>,
                chatContent: '',

                pixelId: '',
                pixelEvent: '',
                pixelCurrency: '',
                pixelAmount: '',

                gtmId: '',
                loading: 0,

                status: 'Published',
            })

            const formRules = reactive({
                title: [{required: true, message: "Please input title", trigger: 'blur'}],
                slug: [{required: true, message: "Please input slug", trigger: 'blur'}],
                chatContent: [{required: true, message: "Please input chat content", trigger: 'blur'}],
                status: [{required: true, message: "Please input status", trigger: 'blur'}],
            })

            const onInsertName = () => insertTextToContent('[opname]', 8)
            const onInsertNumber = () => insertTextToContent('[opnumber]', 10)
            const onBold = () => insertTextToContent('**', 1)
            const onItalic = () => insertTextToContent('__', 1)
            const onStrikeThrough = () => insertTextToContent('~~', 1)

            const insertTextToContent = (text: string, advanceCursor: number) => {
                if (contentInputRef.value) {
                    contentInputRef.value.focus()

                    const startPos = contentInputRef.value.selectionStart
                    const oldText = formData.chatContent
                    formData.chatContent = oldText.substring(0, startPos) + text + oldText.substring(startPos, oldText.length)

                    setTimeout(() => {
                        if (contentInputRef.value) {
                            contentInputRef.value.selectionStart = startPos + advanceCursor
                            contentInputRef.value.selectionEnd = startPos + advanceCursor
                        }
                    }, 20)
                }
            }

            const addOperator = () => {
                formData.operators.push({ id: '', name: '', priority: 1 })
            }

            const deleteOperator = (i: number) => {
                formData.operators.splice(i, 1)
            }

            const onSubmit = () => {
                form.value?.validate((valid: boolean) => {
                    if (valid) {
                        // Cek operator apakah diisi semua
                        if (formData.operators.filter(x => !x.id).length > 0) {
                            swal.error("Operator harus diisi")
                            return
                        }

                        const pixelData = formData.pixelEvent === 'Purchase' ? JSON.stringify({
                            currency: formData.pixelCurrency,
                            amount: formData.pixelAmount,
                        }) : ''

                        if (!linkId) {
                            LinkApi.create(
                                formData.title,
                                formData.slug,
                                formData.operators,
                                formData.chatContent,
                                formData.status,
                                formData.pixelId,
                                formData.pixelEvent,
                                pixelData,
                                formData.gtmId,
                                formData.loading,
                            )
                                .then(r => {
                                    swal.success("Add data success")
                                    router.push('/link')
                                })
                                .catch(e => {
                                    swal.error(e.message)
                                })
                        }
                        else {
                            LinkApi.update(
                                linkId,
                                formData.title,
                                formData.slug,
                                formData.operators,
                                formData.chatContent,
                                formData.status,
                                formData.pixelId,
                                formData.pixelEvent,
                                pixelData,
                                formData.gtmId,
                                formData.loading,
                            )
                                .then(r => {
                                    swal.success("Add data success")
                                    router.push('/link')
                                })
                                .catch(e => {
                                    swal.error(e.message)
                                })
                        }
                    }
                })
            }

            const filteredOperators = computed(() => {
                const allOps: Array<Array<OperatorModel>> = []
                const opIdMap = formData.operators.map(x => x.id).filter(x => !!x)

                for (const opData of formData.operators) {
                    const ops: Array<OperatorModel> = []

                    for (const op of operators.value) {
                        if (op.id === opData.id || !opIdMap.includes(op.id)) {
                            ops.push(op)
                        }
                    }

                    allOps.push(ops)
                }

                return allOps
            })

            const titleChanged = () => {
                setTimeout(() => {
                    formData.slug = formData.title.trim().toLowerCase().replaceAll(' ', '-')
                }, 100)
            }

            onMounted(() => {
                getData()
                .catch(e => swal.error(e.message))
            })

            return {
                operators,

                form,
                formData,
                formRules,

                contentInputRef,
                onInsertName,
                onInsertNumber,
                onBold,
                onItalic,
                onStrikeThrough,

                addOperator,
                deleteOperator,

                filteredOperators,
                onSubmit,
                titleChanged,
            }
        }
    })
</script>

<style scoped>
    .container {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    .content-input {
        resize: none;
        padding: 15px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        margin-top: 5px;
    }
</style>