<template>
    <div>
        <el-row type="flex" justify="end" style="align-items: center">
            <span class="max-account"
                  v-if="accountType"
            >
                {{items.length}} dari {{accountType?.maxLink === -1 ? 'Unlimited' : accountType?.maxLink}}
            </span>
            <router-link to="/link/add">
                <el-button
                    icon="el-icon-plus"
                    :disabled="!accountType || (items.length >= accountType.maxLink && accountType.maxLink !== -1)"
                    type="primary">Add Link</el-button>
            </router-link>
        </el-row>

        <paginated-table style="margin-top: 20px" :items="items" @delete="onDeleteMany">
            <el-table-column
                type="selection"
                width="55"
            />

            <el-table-column label="Title" :sortable="true" prop="title">
                <template #default="scope">{{ scope.row.title }}</template>
            </el-table-column>

            <el-table-column label="Link" :sortable="true" prop="slug">
                <template #default="scope">
                    <a :href="getLink(scope.row.slug)" target="_blank">
                        {{ getLink(scope.row.slug) }}
                    </a>
                </template>
            </el-table-column>

            <el-table-column label="Operator" :sortable="true" prop="operators">
                <template #default="scope">{{ scope.row.operators.length }} operator</template>
            </el-table-column>

            <el-table-column label="Clicks" :sortable="true" prop="clicks">
                <template #default="scope">{{ scope.row.clicks }}</template>
            </el-table-column>

            <el-table-column label="Last Modified" :sortable="true" prop="updatedAt">
                <template #default="scope">{{ scope.row.updatedAt.toDateTimeNormal() }}</template>
            </el-table-column>

            <el-table-column label="Status" :sortable="true" prop="status">
                <template #default="scope">{{ scope.row.status }}</template>
            </el-table-column>

            <el-table-column label="Action">
                <template #default="scope">
                    <router-link :to="'/link/edit/' + scope.row.id">
                        <el-button circle size="small" type="primary" icon="el-icon-edit-outline"></el-button>
                    </router-link>
                    <el-button circle
                        style="margin-left: 5px"
                        size="small" type="danger" @click="onDelete(scope.row.id)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </paginated-table>
    </div>
</template>

<script lang="ts">
    import {computed, defineComponent, onMounted, ref} from 'vue'
    import LinkApi from "@/api/LinkApi";
    import LinkModel from "@/models/LinkModel";
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import {useSwal} from "@/customHooks/useSwal";
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import {BASE_URL} from "@/api/Axios";
    import {useStore} from "vuex";
    import AccountTypeModel from "@/models/AccountTypeModel";

    export default defineComponent({
        name: "LinkPage",
        components: {VerticalLayout, PaginatedTable},

        setup() {
            const store = useStore()
            const accountType = computed<AccountTypeModel>(() => store.state.accountType)

            const swal = useSwal()

            const items = ref<Array<LinkModel>>([])
            const getData = () => {
                LinkApi.getAll()
                    .then(l => {
                        items.value = l
                    })
            }

            const onDelete = (id: string) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    LinkApi.delete(id)
                    .then(() => {
                        swal.success('Delete data success')
                        getData()
                    })
                })
            }

            const onDeleteMany = (l: Array<LinkModel>) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    LinkApi.deleteMany(l.map(x => x.id))
                        .then(() => {
                            swal.success('Delete data success')
                            getData()
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                })
            }

            onMounted(getData)

            const getLink = (slug: string) => BASE_URL + 'links/' + slug

            return {
                accountType,
                items,
                onDelete,
                onDeleteMany,
                getLink,
            }
        }
    })
</script>

<style scoped>
</style>