<template>
    <div>
        <el-row type="flex" justify="end" style="align-items: center">
            <span class="max-account"
                v-if="accountType"
            >
                {{items.length}} dari {{accountType?.maxClient === -1 ? 'Unlimited' : accountType?.maxClient}}
            </span>
            <el-button
                icon="el-icon-plus"
                :disabled="!accountType || (items.length >= accountType.maxClient && accountType.maxClient !== -1)"
                type="primary" @click="showDialog = true">Add Client</el-button>
        </el-row>

        <el-row :gutter="20" style="margin-top: 20px" v-if="items.length > 0">
            <el-col :span="12" v-for="(item, i) in items" v-bind:key="item">
                <div class="card">
                    <VerticalLayout>
                        <HorizontalLayout>
                            <VerticalLayout>
                                <span class="label">Client Name</span>
                                <span class="name">{{item.name}}</span>
                            </VerticalLayout>
                            <SpaceFiller/>
                            <VerticalLayout style="align-items: center">
                                <span class="label">Status</span>
                                <el-switch
                                    style="margin-top: 5px"
                                    active-color="#b8365b" inactive-color="#2792c6"
                                    :before-change="() => false"
                                    v-model="item.status"
                                    inactive-value="Released" active-value="Used"
                                    @click="statusChange(i)"
                                >
                                </el-switch>
                                <span :class="'status ' + item.status.toLowerCase()">
                                    {{item.status}}
                                </span>
                            </VerticalLayout>
                        </HorizontalLayout>

                        <el-row type="flex" justify="end" style="margin-top: 10px">
                            <el-button
                                type="primary" style="align-self: end" @click="onEdit(item)"
                                icon="el-icon-edit-outline" circle size="small"
                            >
                            </el-button>
                            <el-button
                                type="danger" style="align-self: end" @click="onDelete(item.id)"
                                icon="el-icon-delete" circle size="small"
                            >
                            </el-button>
                        </el-row>
                    </VerticalLayout>
                </div>
            </el-col>
        </el-row>

        <div v-else class="no-data">
            <img alt="" src="/no_data.png"/>
            <span class="text">Sudah seharusnya dirimu menambahkan</span>
        </div>

        <el-dialog
            v-model="showDialog"
            @close="closeDialog"
        >
            <template #title>
                <span>Add Client</span>
            </template>

            <template #default>
                <el-form :model="formData" :rules="rules" ref="form" @submit.prevent="onSubmit">
                    <el-form-item label="Name" prop="name">
                        <el-input v-model="formData.name"></el-input>
                    </el-form-item>
                </el-form>
            </template>

            <template #footer>
                <el-button @click="closeDialog">Cancel</el-button>
                <el-button type="primary" @click="onSubmit">Save</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {defineComponent, ref, reactive, onMounted, computed} from 'vue'
    import ClientApi from "@/api/ClientApi";
    import ClientModel from "@/models/ClientModel";
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import {ElForm} from "element-plus";
    import {useSwal} from "@/customHooks/useSwal";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import SpaceFiller from "@/components/SpaceFiller.vue";
    import {useStore} from "vuex";
    import AccountTypeModel from "@/models/AccountTypeModel";

    export default defineComponent({
        name: "ClientPage",
        components: {SpaceFiller, HorizontalLayout, VerticalLayout},

        setup() {
            const store = useStore()
            const accountType = computed<AccountTypeModel>(() => store.state.accountType)

            const swal = useSwal()

            const items = ref<Array<ClientModel>>([])
            const getData = () => {
                ClientApi.getAll()
                    .then(l => {
                        items.value = l
                    })
                    .catch(e => swal.error(e.message))
            }

            // Form ======
            const showDialog = ref(false)

            const closeDialog = () => {
                showDialog.value = false

                formData.id = ''
                formData.name = ''
            }

            // Form validation =====
            const form = ref<typeof ElForm | null>(null)
            const formData = reactive({ id: '', name: '' })
            const rules = reactive({
                name: [
                    { required: true, message: "Please input name", trigger: 'blur' }
                ]
            })

            const onSubmit = () => {
                form.value?.validate((valid: boolean) => {
                    if (valid) {
                        if (formData.id)
                            ClientApi.update(formData.id, formData.name)
                                .then(() => {
                                    swal.success('Edit data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                        else
                            ClientApi.create(formData.name)
                                .then(() => {
                                    swal.success('Add data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                    }
                    else {
                        return false
                    }
                })
            }

            const onEdit = (item: ClientModel) => {
                showDialog.value = true
                formData.id = item.id
                formData.name = item.name
            }

            const statusChange = (i: number) => {
                if (items.value[i].status === 'Used') {
                    ClientApi.release(items.value[i].id)
                        .then(() => {
                            items.value[i].status = 'Released'
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                }
                else {
                    ClientApi.use(items.value[i].id)
                        .then(() => {
                            items.value[i].status = 'Used'
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                }
            }

            const onDelete = (id: string) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    ClientApi.delete(id)
                    .then(() => {
                        swal.success('Delete data success')
                        getData()
                    })
                    .catch(e => swal.error(e.message))
                })
            }

            onMounted(getData)

            return {
                accountType,
                items,

                showDialog,
                form,
                formData,
                rules,

                onSubmit,
                onEdit,
                statusChange,
                onDelete,
                closeDialog
            }
        }
    })
</script>

<style scoped>
    .card {
        margin-bottom: 20px;
        background: #FAFAFA;
        padding: 10px 15px;
        flex: 1;
        border: 1px solid #DDDDDD;
        border-left: 6px solid #34ade7;
        border-radius: 5px;
    }

    .label {
        color: #888888;
        font-size: 12px;
    }

    .name {
        color: #2792c6;
        font-size: 14px;
        font-weight: bold;
        margin-top: 4px;
    }

    .status {
        color: #2792c6;
        font-size: 12px;
        margin-top: 4px;
    }

    .used {
        color: #b8365b;
    }

    .no-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }

    img {
        width: 400px;
        max-width: 50%;
        height: auto;
    }

    .text {
        color: #6D4A95;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
</style>