<template>
    <div>
        <el-row type="flex" justify="end" style="align-items: center">
            <span class="max-account"
                  v-if="accountType"
            >
                {{items.length}} dari {{accountType?.maxContactSet === -1 ? 'Unlimited' : accountType?.maxContactSet}}
            </span>
            <el-button
                icon="el-icon-plus"
                :disabled="!accountType || (items.length >= accountType.maxContactSet && accountType.maxContactSet !== -1)"
                type="primary" @click="showDialog = true">Add Contact Set</el-button>
        </el-row>

        <paginated-table style="margin-top: 20px" :items="items" @delete="onDeleteMany">
            <el-table-column
                type="selection"
                width="55"
            />

            <el-table-column label="Name" :sortable="true" prop="name">
                <template #default="scope">{{ scope.row.name }}</template>
            </el-table-column>

            <el-table-column label="Active Contact" :sortable="true" prop="contactCount">
                <template #default="scope">{{ scope.row.contactCount }}</template>
            </el-table-column>

            <el-table-column label="Last Modified" :sortable="true" prop="updatedAt">
                <template #default="scope">{{ scope.row.updatedAt.toDateTimeNormal() }}</template>
            </el-table-column>

            <el-table-column label="Action">
                <template #default="scope">
                    <router-link :to="'/contact/' + scope.row.id" style="margin-right: 10px">
                        <el-button circle size="small" type="success" icon="el-icon-notebook-2"></el-button>
                    </router-link>
                    <el-button circle size="small" type="primary" @click="onEdit(scope.row)" icon="el-icon-edit-outline"></el-button>
                    <el-button circle size="small" type="danger" @click="onDelete(scope.row.id)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </paginated-table>

        <el-dialog
            v-model="showDialog"
            @close="closeDialog"
        >
            <template #title>
                <span>Add Contact Set</span>
            </template>

            <template #default>
                <el-form :model="formData" :rules="rules" ref="form" @submit.prevent="onSubmit">
                    <el-form-item label="Name" prop="name">
                        <el-input v-model="formData.name" @keyup.enter="onSubmit"></el-input>
                    </el-form-item>
                </el-form>
            </template>

            <template #footer>
                <el-button @click="closeDialog">Cancel</el-button>
                <el-button type="primary" @click="onSubmit">Save</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {computed, defineComponent, onMounted, reactive, ref} from 'vue'
    import {ElForm} from "element-plus";
    import {useSwal} from "@/customHooks/useSwal";
    import ContactSetModel from "@/models/ContactSetModel";
    import ContactSetApi from "@/api/ContactSetApi";
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import {useStore} from "vuex";
    import AccountTypeModel from "@/models/AccountTypeModel";

    export default defineComponent({
        name: "ContactSetPage",
        components: {PaginatedTable},

        setup() {
            const store = useStore()
            const accountType = computed<AccountTypeModel>(() => store.state.accountType)

            const swal = useSwal()

            const items = ref<Array<ContactSetModel>>([])
            const getData = () => {
                ContactSetApi.getAll()
                    .then(l => {
                        items.value = l
                    })
                    .catch(e => swal.error(e.message))
            }

            // Form ======
            const showDialog = ref(false)

            const closeDialog = () => {
                showDialog.value = false

                formData.id = ''
                formData.name = ''
                form.value?.resetFields()
            }

            // Form validation =====
            const form = ref<typeof ElForm | null>(null)
            const formData = reactive({ id: '', name: '' })
            const rules = reactive({
                name: [{ required: true, message: "Please input name", trigger: 'blur' }]
            })

            const onSubmit = () => {
                form.value?.validate((valid: boolean) => {
                    if (valid) {
                        if (formData.id)
                            ContactSetApi.update(formData.id, formData.name)
                                .then(() => {
                                    swal.success('Edit data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                        else
                            ContactSetApi.create(formData.name)
                                .then(() => {
                                    swal.success('Add data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                    }
                    else {
                        return false
                    }
                })
            }

            const onEdit = (item: ContactSetModel) => {
                showDialog.value = true
                formData.id = item.id
                formData.name = item.name
            }

            const onDelete = (id: string) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    ContactSetApi.delete(id)
                    .then(() => {
                        swal.success('Delete data success')
                        getData()
                    })
                    .catch(e => swal.error(e.message))
                })
            }

            const onDeleteMany = (l: Array<ContactSetModel>) => {
                console.log(l)

                swal.confirm('Delete', 'Are you sure?', () => {
                    ContactSetApi.deleteMany(l.map(x => x.id))
                        .then(() => {
                            swal.success('Delete data success')
                            getData()
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                })
            }

            onMounted(getData)

            return {
                accountType,
                items,

                showDialog,
                form,
                formData,
                rules,

                onSubmit,
                onEdit,
                onDelete,
                onDeleteMany,
                closeDialog
            }
        }
    })
</script>

<style scoped>

</style>