<template>
    <div>
        <el-row type="flex" justify="end" style="align-items: center">
            <span class="max-account"
                  v-if="accountType"
            >
                {{totalContact}} dari {{accountType?.maxContact === -1 ? 'Unlimited' : accountType?.maxContact}}
            </span>
            <el-dropdown trigger="click">
                <el-button icon="el-icon-plus" type="primary" :disabled="!accountType || (totalContact >= accountType.maxContact && accountType.maxContact !== -1)">
                    Add Contact<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item @click="showDialog = true">Manual Input</el-dropdown-item>
                        <el-dropdown-item @click="openImportDialog('txt')">Import TXT</el-dropdown-item>
                        <el-dropdown-item @click="openImportDialog('csv')">Import CSV</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </el-row>

        <paginated-table style="margin-top: 20px" :items="items" @delete="onDeleteMany" :downloadable="true" export-name="export-contact">
            <el-table-column
                type="selection"
                width="55"
            />

            <el-table-column label="Name">
                <template #default="scope">{{ scope.row.name }}</template>
            </el-table-column>

            <el-table-column label="Number">
                <template #default="scope">{{ scope.row.number }}</template>
            </el-table-column>

            <el-table-column label="Created At">
                <template #default="scope">{{ scope.row.createdAt.toDateTimeNormal() }}</template>
            </el-table-column>

            <el-table-column label="Action">
                <template #default="scope">
                    <el-button circle size="small" type="primary" @click="onEdit(scope.row)" icon="el-icon-edit-outline"></el-button>
                    <el-button circle size="small" type="danger" @click="onDelete(scope.row.id)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </paginated-table>

        <el-dialog v-model="showDialog" @close="closeDialog">
            <template #title>
                <span>Add Contact Set</span>
            </template>

            <template #default>
                <el-form :model="formData" :rules="rules" ref="form" @submit.prevent="onSubmit">
                    <el-form-item label="Name" prop="name">
                        <el-input v-model="formData.name" @keyup.enter="onSubmit"></el-input>
                    </el-form-item>
                    <el-form-item label="Number" prop="number">
                        <el-input v-model="formData.number" @keyup.enter="onSubmit"></el-input>
                    </el-form-item>
                </el-form>
            </template>

            <template #footer>
                <el-button @click="closeDialog">Cancel</el-button>
                <el-button type="primary" @click="onSubmit">Save</el-button>
            </template>
        </el-dialog>

        <import-contact-dialog
            :contact-set-id="contactSetId"
            :show="showImportDialog"
            :type="importType"
            @close="showImportDialog = false"
            @afterSave="getData"
        />
    </div>
</template>

<script lang="ts">
    import {computed, defineComponent, onMounted, reactive, ref} from 'vue'
    import {useSwal} from "@/customHooks/useSwal";
    import {ElForm} from "element-plus";
    import ContactModel from "@/models/ContactModel";
    import ContactApi from "@/api/ContactApi";
    import {useRoute} from "vue-router";
    import ImportContactDialog from "@/views/contact/detail/ImportContactDialog.vue";
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import {useStore} from "vuex";
    import AccountTypeModel from "@/models/AccountTypeModel";

    export default defineComponent({
        name: "ContactPage",
        components: {ImportContactDialog, PaginatedTable},

        setup() {
            const store = useStore()
            const accountType = computed<AccountTypeModel>(() => store.state.accountType)

            const swal = useSwal()
            const route = useRoute()
            const contactSetId = route.params.id as string

            const items = ref<Array<ContactModel>>([])
            const totalContact = ref(0)

            const getData = () => {
                ContactApi.getBySet(contactSetId)
                    .then(l => {
                        items.value = l.contact
                        totalContact.value = l.totalContact
                    })
            }

            // Form ======
            const showDialog = ref(false)
            const form = ref<typeof ElForm | null>(null)
            const formData = reactive({ id: '', name: '', number: '' })
            const rules = reactive({
                name: [{ required: true, message: "Please input name", trigger: 'blur' }],
                number: [{ required: true, message: "Please input name", trigger: 'blur' }],
            })

            const closeDialog = () => {
                showDialog.value = false

                formData.id = ''
                formData.name = ''
                formData.number = ''
                form.value?.resetFields()
            }

            const onSubmit = () => {
                form.value?.validate((valid: boolean) => {
                    if (valid) {
                        if (formData.id)
                            ContactApi.update(formData.id, formData.name, formatNumber(formData.number))
                                .then(() => {
                                    swal.success('Edit data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                        else
                            ContactApi.create(contactSetId, formData.name, formatNumber(formData.number))
                                .then(() => {
                                    swal.success('Add data success')
                                    closeDialog()

                                    getData()
                                })
                                .catch(e => swal.error(e.message))
                    }
                    else {
                        return false
                    }
                })
            }

            const onEdit = (item: ContactModel) => {
                showDialog.value = true
                formData.id = item.id
                formData.name = item.name
                formData.number = item.number
            }

            const onDelete = (id: string) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    ContactApi.delete(id)
                        .then(() => {
                            swal.success('Delete data success')
                            getData()
                        })
                })
            }

            const onDeleteMany = (l: Array<ContactModel>) => {
                console.log(l)

                swal.confirm('Delete', 'Are you sure?', () => {
                    ContactApi.deleteMany(l.map(x => x.id))
                        .then(() => {
                            swal.success('Delete data success')
                            getData()
                        })
                    .catch(e => {
                        swal.error(e.message)
                    })
                })
            }

            // Import
            const showImportDialog = ref(false)
            const importType = ref("txt")

            const openImportDialog = (type: string) => {
                showImportDialog.value = true
                importType.value = type
            }

            onMounted(getData)

            return {
                accountType,
                contactSetId,
                items,
                totalContact,
                getData,

                showDialog,
                form,
                formData,
                rules,

                onSubmit,
                onEdit,
                onDelete,
                onDeleteMany,
                closeDialog,

                showImportDialog,
                importType,
                openImportDialog,
            }
        }
    })

    function formatNumber(number: string): string {
        if (number.startsWith('0'))
            return "62" + number.substring(1)
        else if (number.startsWith("+"))
            return number.substring(1)
        else
            return number
    }
</script>

<style scoped>

</style>