<template>
    <el-dialog :model-value="show" @close="close" width="90%">
        <template #title>
            <span>Import {{type.toUpperCase()}}</span>
        </template>

        <template #default>
            <div>
                <div :class="'keterangan'">
                    <i
                        :class="'show-arrow el-icon-arrow-' + (keteranganOpen ? 'up' : 'down')"
                        @click="keteranganOpen = !keteranganOpen"
                    >
                    </i>
                    <template v-if="type === 'txt'">
                        <strong>Format TXT harus seperti ini :</strong><br/>

                        <div :class="keteranganOpen ? 'keterangan-content' : 'keterangan-content keterangan-content-hidden'">
                            <br/>
                            Subardi Mudhik,089876876876<br/>
                            Kostomi Mundhu,081876876767<br/>
                            Tarkam Manilla,087654545434
                        </div>
                    </template>
                    <template v-else>
                        <strong>Aturan format CSV :</strong><br/>

                        <div :class="keteranganOpen ? 'keterangan-content' : 'keterangan-content keterangan-content-hidden'">
                            <br/>
                            - Baris pertama untuk title (diabaikan)<br/>
                            - Kolom pertama berisi nama kontak<br/>
                            - Kolom kedua berisi nomer<br/>
                            <br/>
                            Contoh :<br/>
                            <br/>
                            Nama,Nomer<br/>
                            Sembada Bumi,087654543432<br/>
                            Jenjang Mana,089321321321<br/>
                            Mahdi Mubini,081231123123
                        </div>
                    </template>
                </div>

                <el-upload
                    style="margin-top: 15px;"
                    :auto-upload="false"
                    :multiple="false"
                    :show-file-list="false"
                    :accept="`.${type}`"
                    @change="onFileChange"
                >
                    <template #default>
                        <span style="margin-left: 10px">
                            {{selectedFile ? selectedFile.name : 'File belum dipilih'}}
                        </span>
                    </template>

                    <template #trigger>
                        <el-button type="primary">Pilih File</el-button>
                    </template>
                </el-upload>

                <paginated-table :items="items" style="margin-top: 20px" v-if="!!selectedFile">
                    <el-table-column label="Name">
                        <template #default="scope">{{ scope.row.name }}</template>
                    </el-table-column>

                    <el-table-column label="Number">
                        <template #default="scope">{{ scope.row.number }}</template>
                    </el-table-column>

                    <el-table-column label="Action">
                        <template #default="scope">
                            <el-button size="small" type="danger" @click="onDelete(scope.row.index)" icon="el-icon-delete"></el-button>
                        </template>
                    </el-table-column>
                </paginated-table>
            </div>
        </template>

        <template #footer>
            <el-button @click="close">Cancel</el-button>
            <el-button @click="onClear" type="warning" :disabled="!selectedFile">Clear</el-button>
            <el-button type="primary" @click="onSubmit" :disabled="items.length === 0">Import</el-button>
        </template>
    </el-dialog>
</template>

<script lang="ts">
    import {defineComponent, ref} from 'vue'
    import {useSwal} from "@/customHooks/useSwal";
    import * as Papa from 'papaparse'
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import ContactApi from "@/api/ContactApi";

    interface IData {
        index: number,
        name: string,
        number: string,
    }

    export default defineComponent({
        name: "ImportContactDialog",
        components: {PaginatedTable},

        props: {
            contactSetId: {type: String, required: true},
            show: Boolean,
            type: String,
        },

        emits: ['close', 'afterSave'],

        setup(props, {emit}) {
            const swal = useSwal()

            const keteranganOpen = ref(false)
            const selectedFile = ref<File | null>(null)
            const items = ref<Array<IData>>([])

            const onFileChange = (f: any) => {
                const file: File = f.raw

                if (file.name.getExtension().toLowerCase() !== props.type) {
                    swal.error("Format file salah", true)
                    return
                }

                selectedFile.value = file

                if (props.type === 'txt') {
                    const reader = new FileReader()
                    reader.onload = e => {
                        if (e.target) {
                            try {
                                const s = e.target.result as string
                                items.value = s.split('\n')
                                    .filter(x => !!x.trim())
                                    .map((x, i) => {
                                        const row = x.split(',')

                                        return {
                                            index: i,
                                            name: row[0].trim(),
                                            number: row[1].trim()
                                        } as IData
                                    })
                            } catch (e) {
                                swal.error("Tidak dapat memparsing data. Error : " + e.message)
                                items.value = []
                            }
                        }
                    }

                    reader.readAsText(file)
                }
                else {
                    Papa.parse(file, {
                        skipEmptyLines: true,
                        complete(results) {
                            console.log(results)

                            items.value = results.data.slice(1).map((x: any, i: number) => ({
                                index: i,
                                name: x[0].trim(),
                                number: x[1].trim(),
                            } as IData))
                        }
                    })
                }
            }

            const onClear = () => {
                items.value = []
                selectedFile.value = null
            }

            const onDelete = (i: number) => {
                const item = items.value.find(x => x.index === i)

                if (item) {
                    const index = items.value.indexOf(item)

                    const old = [...items.value]
                    old.splice(index, 1)
                    items.value = old
                }
            }

            const onSubmit = () => {
                ContactApi.createMany(props.contactSetId, items.value)
                .then(r => {
                    swal.success("Import data berhasil")
                    emit('afterSave')
                    close()
                })
                .catch(e => {
                    swal.error(e.message)
                })
            }

            const close = () => {
                emit('close')
                onClear()
            }

            return {
                keteranganOpen,
                selectedFile,
                onFileChange,

                items,
                onClear,
                onDelete,
                onSubmit,

                close
            }
        }
    })
</script>

<style scoped>
    .keterangan {
        position: relative;
        background: #666666;
        color: white;
        padding: 15px;
        border-radius: 5px;
        overflow: hidden;
        height: inherit;
    }

    .keterangan-content {
        display: block;
        transition: display 0.5s;
    }

    .keterangan-content-hidden {
        display: none;
    }

    .show-arrow {
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        padding: 13px;
        transition: background-color 0.15s;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }

    .show-arrow:hover {
        background: rgba(255, 255, 255, 0.2);
    }
</style>