<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>WA Tuyul</title>

    <style>
      body {
        padding: 0;
        margin: 0;
        height: 100vh;
        font-family: Monserrat, 'sans-serif';
      }

      textarea, input, button, select {
        font-family: inherit;
      }

      #app {
        height: 100%;
      }

      .swal2-container {
        z-index: 100000 !important;
      }

      .max-account {
        background: rgb(127,69,153);
        background: linear-gradient(270deg, rgba(127,69,153,1) 0%, rgba(135,68,156,1) 18%, rgba(23,94,128,1) 100%);
        color: white;
        padding: 8px 10px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
