<template>
    <el-container style="height: 100%">
        <sidebar/>
        <el-main class="main">
            <div class="header">
                <span class="title">{{title}}</span>
            </div>
            <router-view/>
        </el-main>
    </el-container>
</template>

<script lang="ts">

    import {defineComponent, computed, onMounted} from "vue"
    import Sidebar from "@/components/Sidebar.vue";
    import LocalRepository from "@/api/LocalRepository";
    import {useRoute, useRouter} from "vue-router";
    import AuthApi from "@/api/AuthApi";
    import {useStore} from "vuex";

    export default defineComponent({
        name: "Dashboard",
        components: { Sidebar },

        setup() {
            const router = useRouter()
            const route = useRoute()
            const store = useStore()

            const title = computed(() => route.name)

            if (!LocalRepository.isLogin()) {
                router.push('/login')
            }

            onMounted(() => {
                AuthApi.getAccountType()
                    .then(r => store.dispatch('setAccountType', r))
                    .catch(e => console.log(e.message))
            })

            return {
                title
            }
        },
    })

</script>

<style scoped>
    .main {
        position: relative;
    }

    .header {
        display: inline-block;
        background: rgb(127,69,153);
        background: linear-gradient(86deg, rgba(127,69,153,1) 0%, rgba(135,68,156,1) 18%, rgba(23,94,128,1) 100%);
        margin: -20px -20px 10px -20px;
        padding: 10px;
        min-width: 100px;
        z-index: 10;
    }

    .title {
        color: white;
        font-size: 16px;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
</style>