<template>
    <div class="home">
        <img alt="" src="/play.png"/>
        <span class="text">Tempat berkumpulnya tuyul-tuyul kecil</span>
    </div>
</template>

<script lang="ts">
    import {defineComponent} from "vue";

    export default defineComponent({
        name: "Home",
        components: {},
    })
</script>

<style scoped>

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }

    img {
        width: 400px;
        max-width: 50%;
        height: auto;
    }

    .text {
        color: #6D4A95;
        font-size: 18px;
        font-weight: bold;
    }

</style>