<template>
    <div style="height: 100%">
        <div class="bg"></div>
        <div class="bg-white"></div>

        <HorizontalLayout class="root">
            <div class="root-left">
                <img src="/login_clipart.png"/>
                <span class="left-text-top">Hei Kamu!!!</span>
                <span class="left-text-bot">Jangan mengendap-endap seperti tuyul</span>
            </div>
            <div class="root-right">
                <form @submit.prevent style="display: flex; flex: 1">
                    <div class="container">
                        <h2>Login</h2>
                        <h3>Dashboard WA Tuyul</h3>

                        <div class="input-group">
                            <i class="el-icon-message input-icon"></i>
                            <VerticalLayout class="inner-input-group">
                                <label for="email" class="label">Email</label>
                                <input id="email" placeholder="Input your email" type="text" class="text" v-model="email">
                            </VerticalLayout>
                        </div>

                        <div class="input-group">
                            <i class="el-icon-unlock input-icon"></i>
                            <VerticalLayout class="inner-input-group">
                                <label for="password" class="label">Password</label>
                                <input id="password" placeholder="Input your password" type="password" class="text" v-model="password">
                            </VerticalLayout>
                        </div>

                        <input type="submit" value="Login" class="btn" @click="login">
                    </div>
                </form>
            </div>
        </HorizontalLayout>
    </div>
</template>

<script lang="ts">
    import {defineComponent, ref} from 'vue'
    import AuthApi from "@/api/AuthApi";
    import LocalRepository from "@/api/LocalRepository";
    import {UserModelMapper} from "@/models/UserModel";
    import {useRouter} from "vue-router";
    import {useSwal} from "@/customHooks/useSwal";
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";

    export default defineComponent({
        name: "Login",
        components: {HorizontalLayout, VerticalLayout},
        setup() {
            const swal = useSwal()

            const email = ref("")
            const password = ref("")
            const router = useRouter()

            const login = () => {
                AuthApi.login(email.value, password.value)
                .then(r => {
                    LocalRepository.setUser(UserModelMapper.mapObject(r.user))
                    LocalRepository.setToken(r.access_token)

                    router.push('/')
                })
                .catch(e => {
                    swal.error(e.message)
                })
            }

            return {
                email,
                password,

                login
            }
        }
    })
</script>

<style scoped>

    h2, h3 {
        margin: 0;
        color: white;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .root {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .root-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.9);
        align-items: center;
        justify-content: center;
    }

    .root-left img {
        width: 50%;
        height: auto;
    }

    .left-text-top {
        margin-top: 20px;
        color: #505673;
        font-size: 26px;
        font-weight: bold;
    }

    .left-text-bot {
        margin-top: 5px;
        color: #505673;
        font-size: 15px;
    }

    .root-right {
        display: flex;
        box-sizing: border-box;
        justify-content: stretch;
        align-items: stretch;
    }

    .bg {
        height: 100%;
        background-image: url("/bg_login.jpg");
        background-size: cover;
        filter: blur(3px);
    }

    .bg-white {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        background: rgba(255, 255, 255, 0.3);
        padding: 2em;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
        color: #072765;
    }

    .input-group {
        display: flex;
        flex-direction: row;
        background: white;
        margin-top: 10px;
        align-items: center;
        padding: 10px 15px;
        transition: all 0.2s;
        border-radius: 2px;
    }

    .input-group:focus-within {
        background: #f2f3f8;
    }

    .input-icon {
        font-size: 28px;
        margin: 0 20px 0 5px;
    }

    .inner-input-group {
        flex: 1;
    }

    .label {
        font-size: 13px;
    }

    .text {
        border: none;
        outline: none;
        padding: 7px 15px 5px 0;
        font-size: 16px;
        background: transparent;
    }

    ::placeholder {
        font-size: 14px;
        color: #AAAAAA;
    }

    .btn {
        background: #34ade7;
        border: none;
        padding: 10px;
        color: white;
        font-size: 15px;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.2s;
        outline: none;
        width: 120px;
        align-self: end;
        margin-top: 20px;
    }

    .btn:hover {
        background: #2792c6;
    }

</style>