<template>
    <div id="root">
        <slot/>
    </div>
</template>

<script>
    export default {
        name: "HorizontalLayout"
    }
</script>

<style scoped>
    #root {
        display: flex;
        flex-direction: row;
    }
</style>