<template>
    <div style="padding-bottom: 2em">
        <VerticalLayout>
            <HorizontalLayout style="justify-content: end; margin-bottom: 10px">
                <el-button v-if="reloadable" @click="$emit('reload')" type="primary">Reload</el-button>
                <SpaceFiller/>
                <template v-if="downloadable">
                    <el-button @click="download('txt')" size="small">Export TXT</el-button>
                    <el-button @click="download('xls')" size="small">Export Excel</el-button>
                    <el-button @click="download('csv')" size="small">Export CSV</el-button>
                </template>
            </HorizontalLayout>

            <HorizontalLayout v-if="items.length > 0" style="align-items: center">
                <span style="margin-right: 10px; margin-left: 10px; color: #AAAAAA; font-size: 14px">Per Page </span>
                <el-select v-model="itemPerPage" placeholder="Select" size="small" style="width: 100px">
                    <el-option
                        v-for="item in [5, 10, 20, 50, 100]"
                        :key="item"
                        :label="item"
                        :value="item">
                    </el-option>
                </el-select>

                <SpaceFiller/>
                <el-input placeholder="Search" size="small" style="width: 200px" v-model="search"></el-input>
            </HorizontalLayout>

            <el-table :data="pagedItems" @selection-change="onSelectionChange" ref="tableRef">
                <slot></slot>
            </el-table>

            <div style="margin-top: 15px; display: flex; justify-content: center" v-if="selectedItems.length > 0">
                <el-button
                    icon="el-icon-delete" type="danger"
                    @click="onDelete"
                >
                    Delete Selected
                </el-button>
            </div>

            <div style="margin-top: 15px; margin-left: 10px; color: #AAAAAA; font-size: 14px; font-weight: bold">
                {{ filteredItems.length ? page * itemPerPage + 1 : 0}} to {{(page + 1) * itemPerPage > filteredItems.length ? filteredItems.length : (page + 1) * itemPerPage}} of {{filteredItems.length}}
            </div>

            <el-pagination
                background
                layout="prev, pager, next"
                style="text-align: center; margin-top: 15px"
                :page-count="Math.ceil(filteredItems.length / itemPerPage)"
                :hide-on-single-page="true"
                :page-size="itemPerPage"
                @current-change="onPageChanged"
            >
            </el-pagination>
        </VerticalLayout>
    </div>
</template>

<script lang="ts">
    import {defineComponent, ref, computed, PropType} from 'vue'
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import SpaceFiller from "@/components/SpaceFiller.vue";
    import {Model} from "@/models/Model";
    import {ElTable} from "element-plus";
    import TableExport, {extractData} from "@/utils/TableExport";

    export default defineComponent({
        name: "PaginatedTable",
        components: {SpaceFiller, HorizontalLayout, VerticalLayout},
        props: {
            items: { type: Object as PropType<Array<Model>>, required: true },
            searchables: { type: Array, required: false },
            downloadable: { type: Boolean, default: false },
            reloadable: { type: Boolean, default: false },
            exportedColumns: { type: Array, required: false },
            exportName: { type: String, required: false },
            customFilter: { type: Function, required: false },
        },
        emits: ['delete', 'reload'],

        setup(props, {emit}) {
            const page = ref(0)
            const itemPerPage = ref(10)
            const search = ref("")
            const selectedItems = ref<Array<any>>([])

            const appendedItems = computed(() =>
                props.items.map((x, i) => ({ index: i + 1, ...x }))
            )

            const filteredItems = computed(() =>
                appendedItems.value
                    .filter((x: any) => {
                        if (props.customFilter && !props.customFilter(x))
                            return false

                        if (!search.value) return true

                        if (props.searchables) {
                            for (const a in props.searchables) {
                                if (x[a] && x[a].toString().toLowerCase().includes(search.value.toLowerCase()))
                                    return true
                            }
                        }
                        else {
                            for (const a in x) {
                                if (x[a] && x[a].toString().toLowerCase().includes(search.value.toLowerCase()))
                                    return true
                            }
                        }

                        return false
                    })
            )

            const pagedItems = computed(() =>
                filteredItems.value
                    .slice(page.value * itemPerPage.value, (page.value + 1) * itemPerPage.value)
            )

            const onPageChanged = (i: number) => {
                page.value = i - 1
            }

            const onSelectionChange = (e: any) => {
                selectedItems.value = e
            }

            const onDelete = () => {
                emit('delete', selectedItems.value)
            }

            const tableRef = ref<typeof ElTable | null>(null)

            const download = (type: "csv" | "txt" | "json" | "xls" | "xml" ) => {
                if (tableRef.value) {

                    const data =
                        props.exportedColumns ? extractData(appendedItems.value, props.exportedColumns as string[]) : appendedItems.value

                    TableExport(data, {
                        fileName: props.exportName ? props.exportName : "export-data",
                        type,
                        withBOM: false,
                    })
                        .then((result: any) => {
                            console.info("successfully");
                        })
                        .catch((err: any) => {
                            console.info("Error: ", err);
                        })
                }
            }

            return {
                page,
                itemPerPage,
                search,
                filteredItems,
                pagedItems,
                selectedItems,
                onPageChanged,
                onSelectionChange,
                onDelete,
                tableRef,
                download,
            }
        },
    })
</script>

<style scoped>

</style>