<template>
    <el-aside style="width: 260px; display: flex; flex-direction: column">
        <div class="header">
            <span id="appName">WA Tuyul</span>
            <SpaceFiller/>
            <span id="name">{{name}}</span>
            <span id="email">{{email}}</span>
        </div>

        <el-menu
            style="flex: 1"
            class="el-menu-vertical-demo"
            :router="true"
            :default-active="path"
        >

            <el-menu-item index="/">
                <i class="el-icon-s-home"></i>
                <span>Home</span>
            </el-menu-item>

            <el-menu-item index="/client">
                <i class="el-icon-s-custom"></i>
                <span>Client</span>
            </el-menu-item>

            <el-menu-item index="/contact-set">
                <i class="el-icon-menu"></i>
                <span>Contact Set</span>
            </el-menu-item>

            <el-menu-item index="/broadcast">
                <i class="el-icon-s-promotion"></i>
                <span>Broadcast</span>
            </el-menu-item>

            <el-menu-item index="/operator">
                <i class="el-icon-s-custom"></i>
                <span>Operator</span>
            </el-menu-item>

            <el-menu-item index="/link">
                <i class="el-icon-link"></i>
                <span>Link</span>
            </el-menu-item>

            <el-menu-item @click="logout">
                <i class="el-icon-key"></i>
                <span>Logout</span>
            </el-menu-item>
        </el-menu>
    </el-aside>
</template>

<script lang="ts">
    import {defineComponent} from 'vue'
    import {useSwal} from "@/customHooks/useSwal";
    import LocalRepository from "@/api/LocalRepository";
    import {useRoute, useRouter} from "vue-router";
    import SpaceFiller from "@/components/SpaceFiller.vue";

    export default defineComponent({
        name: "Sidebar",
        components: {SpaceFiller},
        setup() {
            const swal = useSwal()
            const router = useRouter()
            const route = useRoute()

            const logout = () => {
                swal.confirm('Logout', "Are you sure", () => {
                    LocalRepository.logout()
                    router.push('/login')
                })
            }

            return {
                logout,
                path: route.path,
                name: LocalRepository.getUser()?.name,
                email: LocalRepository.getUser()?.email,
            }
        }
    })
</script>

<style scoped>
    .header {
        height: 150px;
        background: linear-gradient(175deg, rgba(76,72,131,1) 0%, rgba(135,68,156,1) 33%, rgba(74,173,193,1) 100%);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 15px;
        box-sizing: border-box;
    }

    #appName {
        color: white;
        font-size: 15px;
    }

    #name {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    #email {
        color: white;
        font-size: 13px;
    }
</style>