<template>
    <div>
        <el-row type="flex" justify="end" style="align-items: center">
            <span class="max-account"
                  v-if="accountType"
            >
                {{items.length}} dari {{accountType?.maxBroadcast === -1 ? 'Unlimited' : accountType?.maxBroadcast}}
            </span>
            <router-link to="/broadcast/add">
                <el-button
                    icon="el-icon-plus"
                    :disabled="!accountType || (items.length >= accountType.maxBroadcast && accountType.maxBroadcast !== -1)"
                    type="primary">Add Broadcast</el-button>
            </router-link>
        </el-row>

        <paginated-table
            style="margin-top: 20px" :items="items" @delete="onDeleteMany" :reloadable="true" @reload="getData"
        >
            <el-table-column
                type="selection"
                width="55"
            />

            <el-table-column label="Broadcast Title" :sortable="true" prop="name">
                <template #default="scope">{{ scope.row.name }}</template>
            </el-table-column>

            <el-table-column label="Contacts" :sortable="true" prop="totalContacts">
                <template #default="scope">{{ scope.row.status === 'Pending' ? scope.row.totalContacts : scope.row.totalMessages }}</template>
            </el-table-column>

            <el-table-column label="Messages">
                <template #default="scope">
                    <template v-if="scope.row.status === 'Draft'">-</template>
                    <template v-else>
                        <div>Pending : {{scope.row.pendingMessages}}</div>
                        <div>Sent : {{scope.row.sentMessages}}</div>
                        <div>Not Sent : {{scope.row.notSentMessages}}</div>
                        <div>Total : {{scope.row.totalMessages}}</div>
                    </template>
                </template>
            </el-table-column>

            <el-table-column label="Last Modified" :sortable="true" prop="updatedAt">
                <template #default="scope">{{ scope.row.updatedAt.toDateTimeNormal() }}</template>
            </el-table-column>

            <el-table-column label="Status" :sortable="true" prop="status">
                <template #default="scope">
                    <span :class="'status status-' + scope.row.status.toLowerCase()">{{ scope.row.status }}</span>
                </template>
            </el-table-column>

            <el-table-column label="Action">
                <template #default="scope" style="white-space: nowrap">
                    <router-link :to="'/broadcast/detail/' + scope.row.id" v-if="scope.row.status === 'Published'">
                        <el-button circle size="small" type="success" icon="el-icon-notebook-2"></el-button>
                    </router-link>
                    <router-link :to="'/broadcast/edit/' + scope.row.id">
                        <el-button circle size="small" type="primary" icon="el-icon-edit-outline"
                               style="margin-left: 5px">
                        </el-button>
                    </router-link>
                    <el-button
                        circle size="small" type="danger"
                        style="margin-left: 5px"
                        @click="onDelete(scope.row.id)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </paginated-table>
    </div>
</template>

<script lang="ts">
    import {computed, defineComponent, onMounted, ref} from 'vue'
    import {useSwal} from "@/customHooks/useSwal";
    import BroadcastModel from "@/models/BroadcastModel";
    import BroadcastApi from "@/api/BroadcastApi";
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import {useStore} from "vuex";
    import AccountTypeModel from "@/models/AccountTypeModel";

    export default defineComponent({
        name: "BroadcastPage",
        components: {HorizontalLayout, PaginatedTable},

        setup() {
            const store = useStore()
            const accountType = computed<AccountTypeModel>(() => store.state.accountType)

            const swal = useSwal()

            const items = ref<Array<BroadcastModel>>([])
            const getData = () => {
                BroadcastApi.getAll()
                    .then(l => {
                        items.value = l
                    })
            }

            const onDelete = (id: string) => {
                swal.confirm('Delete', 'Are you sure?', () => {
                    BroadcastApi.delete(id)
                    .then(() => {
                        swal.success('Delete data success')
                        getData()
                    })
                })
            }

            const onDeleteMany = (l: Array<BroadcastModel>) => {
                console.log(l)

                swal.confirm('Delete', 'Are you sure?', () => {
                    BroadcastApi.deleteMany(l.map(x => x.id))
                        .then(() => {
                            swal.success('Delete data success')
                            getData()
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                })
            }

            onMounted(getData)

            return {
                accountType,
                items,
                getData,

                onDelete,
                onDeleteMany,
            }
        }
    })
</script>

<style scoped>
    .status {
        padding: 3px 7px;
        border-radius: 1000px;
        display: inline-block;
        color: white;
        min-width: 80px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .status-draft {
        background-color: #f3a8a8;
    }

    .status-published {
        background-color: #9ad7e3;
    }

    .status-completed {
        background-color: #9ce29f;
    }
</style>