<template>
    <VerticalLayout>
        <HorizontalLayout>

            <VerticalLayout class="info">
                <span class="label">Total Penerima</span>
                <span class="value">{{broadcast?.totalMessages}}</span>
            </VerticalLayout>

            <VerticalLayout class="info">
                <span class="label">Pesan Pending</span>
                <span class="value">{{broadcast?.pendingMessages}}</span>
            </VerticalLayout>

            <VerticalLayout class="info">
                <span class="label">Pesan Terkirim</span>
                <span class="value">{{broadcast?.sentMessages}}</span>
            </VerticalLayout>

            <VerticalLayout class="info">
                <span class="label">Pesan Tidak Terkirim</span>
                <span class="value">{{broadcast?.notSentMessages}}</span>
            </VerticalLayout>

        </HorizontalLayout>

        <el-tabs v-model="activeTab" style="margin-top: 15px">
            <el-tab-pane label="Detail" name="detail">
                <VerticalLayout>
                    <div class="title">Detail</div>
                    <table class="tbl-info">
                        <tr>
                            <td>Dikirim Dari Client</td>
                            <td class="td-value">{{broadcast?.client.name}}</td>
                        </tr>
                        <tr>
                            <td>Contact Set</td>
                            <td class="td-value">
                                <div v-for="s in broadcast?.contactSet" :key="s" class="contact-set">
                                    {{s.name}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Opsi Pengiriman</td>
                            <td class="td-value">{{broadcast?.sendOption === 'immediate' ? 'Langsung' : 'Custom'}}</td>
                        </tr>
                        <tr>
                            <td>Waktu Pengiriman</td>
                            <td class="td-value">{{broadcast?.sendOption === 'immediate' ? '-' : broadcast?.sendTime}}</td>
                        </tr>
                    </table>
                </VerticalLayout>
            </el-tab-pane>
            <el-tab-pane label="Konten" name="konten">
                <VerticalLayout>
                    <div class="title">Konten</div>
                    <table class="tbl-info">
                        <template v-for="(content, i) in broadcast?.contents" :key="content">
                            <tr>
                                <td style="max-width: 70px;" nowrap>
                                    <span style="font-weight: bold; color: #2792c6">Konten {{i + 1}}</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="max-width: 40px;">Text</td>
                                <td class="td-value">{{ content.text }}
                                </td>
                            </tr>
                            <tr v-if="content.image">
                                <td style="max-width: 40px;">Image</td>
                                <td class="td-value">
                                    <a :href="content.image.asUrl()" target="_blank">
                                        <img alt="" :src="content.image.asUrl()" style="max-width: 80px; max-height: 80px"/>
                                    </a>
                                </td>
                            </tr>
                            <tr v-if="content.video">
                                <td style="max-width: 40px;">Video</td>
                                <td class="td-value">
                                    <a :href="content.video.asUrl()" download>
                                        <video :src="content.video.asUrl()" style="max-width: 80px; max-height: 80px"/>
                                    </a>
                                </td>
                            </tr>
                        </template>
                    </table>
                </VerticalLayout>
            </el-tab-pane>
            <el-tab-pane label="Pesan" name="pesan">
                <el-checkbox-group v-model="messageStatus">
                    <el-checkbox label="Pending" name="Pending"></el-checkbox>
                    <el-checkbox label="Sent" name="Sent"></el-checkbox>
                    <el-checkbox label="Not Sent" name="Not Sent"></el-checkbox>
                </el-checkbox-group>

                <paginated-table
                    style="margin-top: 20px" :items="messages" :downloadable="true"
                    :exported-columns="['index', 'name', 'number', 'client.name', 'status', 'updatedAt']"
                    :custom-filter="customFilter" :reloadable="true" @reload="getData"
                >
                    <el-table-column label="#" min-width="55" :sortable="false" prop="index">
                        <template #default="scope">{{ scope.row.index }}</template>
                    </el-table-column>

                    <el-table-column label="Name" :sortable="true" prop="name">
                        <template #default="scope">{{ scope.row.name }}</template>
                    </el-table-column>

                    <el-table-column label="Number" :sortable="true" prop="number">
                        <template #default="scope">{{ scope.row.number }}</template>
                    </el-table-column>

                    <el-table-column label="Sender" :sortable="true" prop="client.name">
                        <template #default="scope">{{ scope.row.client.name }}</template>
                    </el-table-column>

                    <el-table-column label="Status" :sortable="true" prop="status">
                        <template #default="scope">
                            <span :class="'status status-' + scope.row.status.toLowerCase().replace(' ', '')">{{ scope.row.status }}</span>
                        </template>
                    </el-table-column>

                    <el-table-column label="Date" :sortable="true" prop="updatedAt">
                        <template #default="scope">{{ scope.row.updatedAt.toDateTimeNormal() }}</template>
                    </el-table-column>
                </paginated-table>
            </el-tab-pane>
        </el-tabs>
    </VerticalLayout>
</template>

<script lang="ts">
    import {defineComponent, onMounted, ref, computed} from 'vue'
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import {useRoute, useRouter} from "vue-router";
    import {useSwal} from "@/customHooks/useSwal";
    import BroadcastModel from "@/models/BroadcastModel";
    import BroadcastApi from "@/api/BroadcastApi";
    import PaginatedTable from "@/components/PaginatedTable.vue";
    import MessageModel from "@/models/MessageModel";

    export default defineComponent({
        name: "DetailBroadcastPage",
        components: {HorizontalLayout, VerticalLayout, PaginatedTable},

        setup() {
            const swal = useSwal()
            const route = useRoute()
            const router = useRouter()

            const id = route.params.id as string | undefined
            const activeTab = ref("detail")

            if (!id) {
                swal.error("Url salah")
                router.push('/')
            }

            const broadcast = ref<BroadcastModel | null>(null)
            const messages = ref<Array<MessageModel>>([])

            const messageStatus = ref<string[]>(["Pending", "Sent", "Not Sent"])

            const customFilter = computed(() => (x: MessageModel) => {
                return messageStatus.value.includes(x.status)
            })

            const getData = async () => {
                if (id) {
                    broadcast.value = await BroadcastApi.getById(id)
                    messages.value = await BroadcastApi.getMessages(id)
                }
            }

            onMounted(() => {
                getData()
                    .catch(e => swal.error(e.message))
            })

            return {
                activeTab,
                broadcast,
                messages,
                messageStatus,
                customFilter,
                getData,
            }
        }
    })
</script>

<style scoped>

    .info {
        background: #FAFAFA;
        padding: 10px 15px;
        flex: 1;
        border: 1px solid #DDDDDD;
        border-left: 6px solid #34ade7;
        border-radius: 5px;
    }

    .info:not(:last-child) {
        margin-right: 15px;
    }

    .info .label {
        color: #666666;
        font-size: 14px;
    }

    .info .value {
        color: #2792c6;
        font-size: 20px;
        font-weight: bold;
        margin-top: 6px;
    }

    .title {
        background: #34ade7;
        padding: 10px;
        color: white;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .tbl-info {
        background: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px;
        width: 100%;
    }

    .tbl-info td {
        padding: 7px;
        color: #666666;
        font-size: 14px;
        vertical-align: top;
    }

    .tbl-info .td-value {
        color: #217eac;
    }

    .contact-set {
        padding: 7px 15px;
        background: #34ade7;
        color: white;
        margin: 2px 2px;
        border-radius: 100px;
        display: inline-block;
        font-weight: normal;
    }
    .status {
        padding: 3px 7px;
        border-radius: 1000px;
        display: inline-block;
        color: white;
        min-width: 80px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .status-pending {
        background-color: #9ad7e3;
    }

    .status-sent {
        background-color: #9ce29f;
    }

    .status-notsent {
        background-color: #f3a8a8;
    }

</style>