<template>
    <div>
        <el-steps :active="step" finish-status="success" align-center>
            <el-step title="Penerima"></el-step>
            <el-step title="Konten"></el-step>
            <el-step title="Waktu Pengiriman"></el-step>
        </el-steps>

        <div class="container">
            <el-form
                :model="penerimaFormData" :rules="penerimaFormRules" ref="penerimaForm"
                v-show="step === 0"
            >
                <HorizontalLayout>
                    <VerticalLayout style="flex: 1">
                        <el-form-item label="Nama Broadcast" prop="name">
                            <el-input v-model="penerimaFormData.name"></el-input>
                        </el-form-item>
                        <el-form-item label="Dikirim Dari Client" prop="clientId">
                            <el-select
                                :disabled="!isDraft"
                                v-model="penerimaFormData.clientId"
                                :filterable="true"
                                placeholder="Select Client" style="width: 100%">
                                <el-option
                                    v-for="item in clients"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </VerticalLayout>

                    <VerticalLayout style="flex: 1; margin-left: 15px">
                        <el-form-item
                                :label="'Pilih Contact Set (' + penerimaFormData.contactSets.length + ' terpilih)'"
                                prop="contactSets">
                            <el-select
                                    :disabled="!isDraft"
                                    v-model="penerimaFormData.contactSets"
                                    :filterable="true" :multiple="true"
                                    placeholder="Select Client" style="width: 100%"
                            >
                                <el-option
                                    v-for="item in contactSets"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </VerticalLayout>
                </HorizontalLayout>
            </el-form>

            <HorizontalLayout v-show="step === 1">
                <VerticalLayout style="flex: 1">
                    <div v-if="!isDraft" class="edit-info">
                        Perubahan konten hanya berefek pada pesan yang masih pending
                    </div>

                    <HorizontalLayout
                        v-for="(content, i) in contents" :key="i"
                        :class="'content-item' + (i === 0 ? ' item-first' : '') + (i === contents.length - 1 ? ' item-last' : '') + (content === selectedContent ? ' item-selected' : '')"
                        @click="onSelectContent(content)"
                    >
                        <span style="flex: 1">Konten {{i + 1}}</span>
                        <el-button
                            icon="el-icon-delete" size="small" v-if="i > 0"
                            @click.stop="deleteContent(i)"
                        >

                        </el-button>
                    </HorizontalLayout>

                    <el-button
                        size="small" type="primary" @click="addContent"
                        style="margin-top: 5px"
                    >
                        Tambah Konten
                    </el-button>
                </VerticalLayout>

                <VerticalLayout style="flex: 2; margin-left: 15px">
                    <div class="content-control">
                        <el-button size="small" @click="onInsertName">Insert Name</el-button>
                        <el-button style="margin-left: 5px" size="small" @click="onBold">B</el-button>
                        <el-button style="margin-left: 5px" size="small" @click="onItalic">I</el-button>
                        <el-button style="margin-left: 5px" size="small" @click="onStrikeThrough"><s>S</s></el-button>
                    </div>
                    <textarea
                        ref="contentInputRef" spellcheck="false"
                        rows="10" v-model="selectedContent.text" class="content-input">
                    </textarea>

                    <el-upload
                        style="margin-top: 15px; display: flex; align-items: center"
                        :auto-upload="false"
                        :multiple="false"
                        :show-file-list="false"
                        accept=".png,.jpg,.jpeg,.mp4,.avi"
                        @change="onFileChange"
                    >
                        <template #default>
                            <span style="margin-left: 10px; font-size: 14px; display: flex; align-items: center">
                                <template v-if="selectedContent.image || selectedContent.video">
                                    <a v-if="selectedContent.image" :href="selectedFile?.createPreviewUrl() || selectedContent.image?.asUrl()" target="_blank">
                                        <img :src="selectedContent.image.asUrlOrBase64()" alt="" style="max-width: 100px; max-height: 80px"/>
                                    </a>
                                    <a v-else-if="selectedContent.video" :href="selectedFile?.createPreviewUrl() || selectedContent.video.asUrl()" target="_blank">
                                        <video :src="selectedContent.video.asUrlOrBase64()" style="max-width: 100px; max-height: 80px"/>
                                    </a>
                                    <el-button
                                        icon="el-icon-delete" size="small" style="margin-left: 10px"
                                        @click="onRemoveFile"
                                    >
                                    </el-button>
                                </template>
                                <template v-else>
                                    Silahkan pilih gambar / video (optional)
                                </template>
                            </span>
                        </template>

                        <template #trigger>
                            <el-button type="primary" size="small">Upload Gambar / Video</el-button>
                        </template>
                    </el-upload>
                </VerticalLayout>
            </HorizontalLayout>

            <el-form
                :model="pengirimanFormData" :rules="pengirimanFormRules" ref="pengirimanForm"
                v-show="step === 2"
            >
                <VerticalLayout>
                    <el-form-item label="Jenis Waktu Pengiriman" prop="jenisWaktuPengiriman">
                        <el-select
                            v-model="pengirimanFormData.jenisWaktuPengiriman"
                            :filterable="true"
                            placeholder="Select Waktu Pengiriman" style="width: 100%">
                            <el-option
                                v-for="item in [{v: 'immediate', l: 'Langsung'}, {v: 'custom', l:'Custom'}]"
                                :key="item.v"
                                :label="item.l"
                                :value="item.v">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="pengirimanFormData.jenisWaktuPengiriman === 'custom'" label="Waktu Pengiriman" prop="waktuPengiriman">
                        <el-date-picker
                            v-model="pengirimanFormData.waktuPengiriman"
                            placeholder="Select Waktu dan Tanggal Pengiriman"
                            type="datetime"  style="width: 100%"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="Max Pesan Per Request (Tiap 5 detik, Rekomendasi maks 5)" prop="maxMessagePerRequest">
                        <el-input type="number" :min="1" v-model.number="pengirimanFormData.maxMessagePerRequest"></el-input>
                    </el-form-item>
                    <el-form-item label="Max Pesan Per Menit (Rekomendasi maks 50)" prop="maxMessagePerMinute">
                        <el-input type="number" :min="1" v-model.number="pengirimanFormData.maxMessagePerMinute"></el-input>
                    </el-form-item>

                    <HorizontalLayout style="margin-top: 20px">
                        <el-button type="primary" @click="onSubmitAsDraft" v-if="isDraft">Simpan Draft</el-button>
                        <el-button type="success" @click="onSubmit">Kirim</el-button>
                    </HorizontalLayout>
                </VerticalLayout>
            </el-form>
        </div>

        <HorizontalLayout style="justify-content: center; margin-top: 20px">
            <el-button @click="step--" :disabled="step <= 0" type="primary">Prev</el-button>
            <el-button @click="onNext" :disabled="step >= 2" type="primary">Next</el-button>
        </HorizontalLayout>
    </div>
</template>

<script lang="ts">
    import {defineComponent, onMounted, reactive, ref} from 'vue'
    import HorizontalLayout from "@/components/HorizontalLayout.vue";
    import VerticalLayout from "@/components/VerticalLayout.vue";
    import {ElForm} from "element-plus";
    import ClientModel from "@/models/ClientModel";
    import ClientApi from "@/api/ClientApi";
    import {useSwal} from "@/customHooks/useSwal";
    import ContactSetModel from "@/models/ContactSetModel";
    import ContactSetApi from "@/api/ContactSetApi";
    import BroadcastContentModel from "@/models/BroadcastContentModel";
    import BroadcastApi from "@/api/BroadcastApi";
    import {useRoute, useRouter} from "vue-router";
    import moment from 'moment';

    export default defineComponent({
        name: "InputBroadcastPage",
        components: {VerticalLayout, HorizontalLayout},

        setup() {
            const swal = useSwal()
            const router = useRouter()
            const route = useRoute()
            const broadcastId = route.params.id as string | undefined
            const isDraft = ref(true)

            const step = ref<number>(0)

            // Step 1 Penerima ==================
            const clients = ref<Array<ClientModel>>([])
            const contactSets = ref<Array<ContactSetModel>>([])

            const penerimaForm = ref<typeof ElForm | null>(null)
            const penerimaFormData = reactive({name: '', clientId: '', contactSets: [] as string[]})
            const penerimaFormRules = reactive({
                name: [{required: true, message: "Please input name", trigger: 'blur'}],
                clientId: [{required: true, message: "Please select client", trigger: 'blur'}],
                contactSets: [{required: true, message: "Please select minimal 1 contact set", trigger: 'blur'}],
            })
            // ==================================

            // Step 2 Konten ====================
            const contentInputRef = ref<HTMLTextAreaElement | null>(null)

            const contents = ref<Array<BroadcastContentModel>>([{ text: "" }])
            const selectedContent = ref<BroadcastContentModel>(contents.value[0])

            const onSelectContent = (content: BroadcastContentModel) => {
                selectedContent.value = content
            }

            const addContent = () => contents.value.push({ text: '' })
            const deleteContent = (i: number) => {
                if (selectedContent.value === contents.value[i] && i > 0) {
                    selectedContent.value = contents.value[i - 1]
                }
                
                contents.value.splice(i, 1)
            }

            const onInsertName = () => insertTextToContent('[name]', 6)
            const onBold = () => insertTextToContent('**', 1)
            const onItalic = () => insertTextToContent('__', 1)
            const onStrikeThrough = () => insertTextToContent('~~', 1)

            const insertTextToContent = (text: string, advanceCursor: number) => {
                if (contentInputRef.value) {
                    contentInputRef.value.focus()

                    const startPos = contentInputRef.value.selectionStart
                    const oldText = selectedContent.value.text
                    selectedContent.value.text = oldText.substring(0, startPos) + text + oldText.substring(startPos, oldText.length)

                    setTimeout(() => {
                        if (contentInputRef.value) {
                            contentInputRef.value.selectionStart = startPos + advanceCursor
                            contentInputRef.value.selectionEnd = startPos + advanceCursor
                        }
                    }, 20)
                }
            }

            const selectedFile = ref<File | null>(null)

            const onFileChange = (f: any) => {
                const file: File = f.raw

                if (['png', 'jpg', 'jpeg'].includes(file.name.getExtension().toLowerCase())) {
                    if (file.size > 2 * 1024 * 1024) {
                        swal.error("Ukuran gambar maksimal 2 MB", true)
                        return
                    }

                    selectedFile.value = file

                    file.toBase64()
                        .then(s => selectedContent.value.image = s)
                        .catch(e => swal.error(e.message))

                    selectedContent.value.video = undefined
                }
                else if (['mp4', 'avi'].includes(file.name.getExtension().toLowerCase())) {
                    if (file.size > 5 * 1024 * 1024) {
                        swal.error("Ukuran video maksimal 5 MB", true)
                        return
                    }

                    selectedFile.value = file
                    file.toBase64()
                        .then(s => selectedContent.value.video = s)
                        .catch(e => swal.error(e.message))

                    selectedContent.value.image = undefined
                }
                else {
                    swal.error("Format file harus bertipa png/jpg/jpeg", true)
                }
            }

            const onRemoveFile = () => {
                selectedFile.value = null
                selectedContent.value.image = undefined
                selectedContent.value.video = undefined
            }
            // ==================================

            // Step 3 Waktu Pengiriman ==========
            const pengirimanForm = ref<typeof ElForm | null>(null)
            const pengirimanFormData = reactive({
                jenisWaktuPengiriman: 'immediate',
                waktuPengiriman: null as Date | null,
                maxMessagePerRequest: 3 as number,
                maxMessagePerMinute: 30 as number,
            })
            const pengirimanFormRules = reactive({
                jenisWaktuPengiriman: [{required: true, message: "Please input jenis waktu pengiriman", trigger: 'blur'}],
                waktuPengiriman: [{required: true, message: "Please input waktu pengiriman", trigger: 'blur'}],
                maxMessagePerRequest: [
                    {required: true, message: "Max message per request must be a number"},
                ],
                maxMessagePerMinute: [{required: true, message: "Max message per minute must be a number"}],
            })

            const onSubmit = () => {
                if (pengirimanFormData.jenisWaktuPengiriman === 'custom') {
                    pengirimanForm.value?.validate((valid: boolean) => {
                        if (valid) {
                            submit('Published')
                        }
                    })
                }
                else {
                    pengirimanForm.value?.validate((valid: boolean) => {
                        if (valid) {
                            submit('Published')
                        }
                    })
                }
            }

            const onSubmitAsDraft = () => submit('Draft')

            const submit = (status: string) => {
                if (!broadcastId) {
                    BroadcastApi.create(
                        penerimaFormData.name,
                        penerimaFormData.clientId,
                        penerimaFormData.contactSets,
                        contents.value,
                        pengirimanFormData.jenisWaktuPengiriman,
                        pengirimanFormData.waktuPengiriman?.toSqlDateTime() ?? null,
                        status,
                        pengirimanFormData.maxMessagePerRequest,
                        pengirimanFormData.maxMessagePerMinute,
                    )
                        .then(r => {
                            swal.success("Success add broadcast")
                            router.push('/broadcast')
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                }
                else {
                    BroadcastApi.update(
                        broadcastId,
                        penerimaFormData.name,
                        contents.value,
                        pengirimanFormData.jenisWaktuPengiriman,
                        pengirimanFormData.waktuPengiriman?.toSqlDateTime() ?? null,
                        status,
                        pengirimanFormData.maxMessagePerRequest,
                        pengirimanFormData.maxMessagePerMinute,
                    )
                        .then(r => {
                            swal.success("Success edit broadcast")
                            router.push('/broadcast')
                        })
                        .catch(e => {
                            swal.error(e.message)
                        })
                }
            }
            // ==================================

            const onNext = () => {
                if (step.value === 0) {
                    penerimaForm.value?.validate((valid: boolean) => {
                        if (valid) step.value++
                    })
                } else if (step.value === 1) {
                    for (const c of contents.value) {
                        if (!c.text) {
                            swal.error("Konten harus diisi")
                            return
                        }
                    }

                    step.value++
                }
            }

            const getData = async () => {
                clients.value = await ClientApi.getAll()
                contactSets.value = await ContactSetApi.getAll()

                if (broadcastId) {
                    const b = await BroadcastApi.getById(broadcastId)

                    penerimaFormData.name = b.name
                    penerimaFormData.clientId = b.clientId
                    penerimaFormData.contactSets = b.contactSet.map(x => x.id)

                    contents.value = b.contents
                    selectedContent.value = b.contents[0]

                    pengirimanFormData.jenisWaktuPengiriman = b.sendOption
                    pengirimanFormData.waktuPengiriman = b.sendTime ? new Date(b.sendTime) : null
                    pengirimanFormData.maxMessagePerRequest = b.maxMessagePerRequest
                    pengirimanFormData.maxMessagePerMinute = b.maxMessagePerMinute

                    console.log(b.status)

                    isDraft.value = b.status === 'Draft'
                }
            }

            onMounted(() => {
                getData().catch(e => swal.error(e.message))
            })

            return {
                isDraft,
                step,

                clients,
                contactSets,
                penerimaForm,
                penerimaFormData,
                penerimaFormRules,

                contents,
                contentInputRef,
                selectedContent,
                selectedFile,
                onFileChange,
                onRemoveFile,

                onSelectContent,
                addContent,
                deleteContent,
                onInsertName,
                onBold,
                onItalic,
                onStrikeThrough,

                pengirimanForm,
                pengirimanFormData,
                pengirimanFormRules,
                onSubmit,
                onSubmitAsDraft,

                onNext
            }
        }
    })
</script>

<style scoped>
    .container {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
    }

    .content-item {
        align-items: center;
        border: 1px solid #CCCCCC;
        border-top: none;
        padding: 2px 15px;
        min-height: 40px;
        cursor: pointer;
        transition: all 0.1s;
    }

    .content-item.item-first {
        border-top: 1px solid #CCCCCC;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .content-item.item-last {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .content-item:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .item-selected {
        background-color: #eeffee;
    }

    .item-selected:hover {
        background-color: #e0ffe0;
    }

    .content-input {
        resize: none;
        padding: 15px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        margin-top: 5px;
    }

    .edit-info {
        padding: 5px 10px;
        background: #dff4f6;
        color: #666666;
        border: 1px solid #34ade7;
        border-radius: 4px;
        margin-bottom: 7px;
        font-size: 12px;
        font-weight: bold;
    }
</style>