<template>
    <div class="full-height" v-loading.fullscreen.lock="loading">
        <router-view/>
    </div>
</template>

<script lang="ts">

    import {computed, defineComponent, onMounted} from "vue"
    import {useStore} from "vuex";
    import AuthApi from "@/api/AuthApi";

    export default defineComponent({
        components: { },

        setup() {
            const store = useStore()

            const count = computed(() => store.state.apiCallCount)
            const loading = computed(() => count.value > 0)

            return {loading}
        }
    })

</script>

<style scoped>

    .full-height {
        height: 100%;
    }

</style>
